<a href="/contacts/new"> Add a new contact! </a>

<ul>
  <% @contacts.each do |contact| %>
  <li> <a href="/contacts/<%= contact.id %>"><%= contact.name %></a>
       <a href="/contacts/<%= contact.id %>/edit">edit</a>
       <a href="/contacts/<%= contact.id %>/delete">delete</a>
  </li>
  <% end %>
</ul>
